[Desktop Entry]
Name=OCR Translate
Comment=AI Screen Translation Tool
Exec="/home/halile/Masaüstü/GitHub/In Progress/OCR-TRANSLATE/run.sh"
Icon="/home/halile/Masaüstü/GitHub/In Progress/OCR-TRANSLATE/assets/logo.png"
Path="/home/halile/Masaüstü/GitHub/In Progress/OCR-TRANSLATE"
Terminal=true
GenericName=OCR Translate
